{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href={% static 'css/test.css' %}>
    <!-- Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
	<link rel="shortcut icon" href="https://pbs.twimg.com/media/DbdohFNU0AA460z.jpg">
	<meta name="twitter:card" content="summary" />
	<meta property="og:url" content="https://ark-cg.com" />
	<meta property="og:title" content="ARK" />
	<meta property="og:description" content="CG映像制作サークル" />
	<meta property="og:image" content="http://drive.google.com/uc?export=view&id=1yDJ2S3AMaQsEoh_tHnuvsPqX3A4HIvBB" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118063049-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118063049-1');
</script>

</head>

<body>
    <div id="app"></div>
    <script src={% static 'js/test.js' %}></script>
</body>

</html>
