{% load static %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>contact</title>
  <link rel="stylesheet" media="(min-width:670px)" href={% static 'css/circle_hp.css' %}>
  <link rel="stylesheet" media="(max-width:670px)" href={% static 'css/circle_hp_mobile.cs' %}>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href={% static "js/drawer-master/dist/css/drawer.min.css" %}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={% static "js/iscroll-master/build/iscroll.js" %}></script>
  <script type="text/javascript" src={% static "js/drawer-master/dist/js/drawer.min.js" %}></script>
  <script type="text/javascript" src={% static 'js/circle_hp.js' %}></script>
  <link rel="shortcut icon" href="https://pbs.twimg.com/media/DbdohFNU0AA460z.jpg">
	<meta name="twitter:card" content="summary" />
	<meta property="og:url" content="https://ark-cg.com" />
	<meta property="og:title" content="ARK" />
	<meta property="og:description" content="CG映像制作サークル" />
	<meta property="og:image" content="http://drive.google.com/uc?export=view&id=1yDJ2S3AMaQsEoh_tHnuvsPqX3A4HIvBB" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118063049-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118063049-1');
</script>

</head>



  <body>
    <div class="holder drawer drawer--top">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
      <div class="txt">
        <header>

          <div id="navi" class="big">
            <div class="navi">
              <a href="{% url 'home:works' %}" class="current">Works</a>
              <a href='' class="current">About us</a>
              <a href="{% url 'home:contact' %}">Contact</a>
              <span></span>
            </div>
          </div>

          <div class="small" id="btn">
            <button type="button" class="drawer-toggle drawer-hamburger" >
              <span class="sr-only">toggle navigation</span>
              <span class="drawer-hamburger-icon"></span>
            </button>
          </div>

          <div id="menu">
            <div class="drawer-nav">
              <div class="drawer-menu">
                <a href="{% url 'home:works' %}">Works</a>
                <a href="" class="current">About us</a>
                <a href="{% url 'home:contact' %}">Contact</a>
                <span></span>
              </div>
            </div>
          </div>
        </header>

        <div class="main">
          <div class="img">
            <img src={% static "posts/logo3-3.png" %} >
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
