{% load static %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>actictivty</title>
    <link rel="stylesheet" media="(min-width:670px)" href={% static 'css/circle_works.css' %}>
    <link rel="stylesheet" media="(max-width:670px)" href={% static 'css/circle_works_mobile.css' %}>
    <link rel="stylesheet" href={% static "js/drawer-master/dist/css/drawer.min.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src={% static "js/iscroll-master/build/iscroll.js" %}></script>
    <script type="text/javascript" src={% static "js/drawer-master/dist/js/drawer.min.js" %}></script>
    <script type="text/javascript" src={% static 'js/circle_works.js' %}></script>
  </head>

  <body class="drawer drawer--top">
    <header>
      <div class="img">
      <a href="{% url 'home:index' %}" class="big" ><img class="logo" src={% static 'posts/logo3-4-w.png' %} alt=""></a>
      <a href="{% url 'home:index' %}" class="small"><img class="logo" src={% static 'posts/logo3-4-w.png' %} alt=""></a>
      </div>

      <div id="navi" class="big">
        <div class="navi">
          <a href="{% url 'home:works' %}" class="current">Works</a>
          <a href='' class="current">About us</a>
          <a href="{% url 'home:contact' %}">Contact</a>
          <span></span>
        </div>
      </div>

      <div class="small" id="btn">
        <button type="button" class="drawer-toggle drawer-hamburger" >
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
      </div>

      <div id="menu">
        <div class="drawer-nav">
          <div class="drawer-menu">
            <a href="{% url 'home:works' %}">Works</a>
            <a href="" class="current">About us</a>
            <a href="{% url 'home:contact' %}">Contact</a>
            <span></span>
          </div>
        </div>
      </div>
    </header>

    <div id="main">
      <h2>[Our activties]</h2>
      <h3>-Latest activties-</h3>
      <div id="content">
        <h4>サバゲー撮影 in 千葉！</h4>
        <p>Date:2018/4/28</p>
        <div id="text">
          <div id="text1">
            <img src="{% static 'posts/gun1.JPG' %}" alt="">
            <div class="text">
              先日千葉のサバイバルゲームのフィールドをお借りして撮影をしてきました。天候には恵まれませんでした...
            </div>
          </div>
          <div id="text2">
            <div class="big">
              <div class="text">
                皆、銃が好きで楽しく撮影することができました！
              </div>
            </div>
            <img src="{% static 'posts/gun2.JPG' %}" alt="">
            <div class="small">
              <div class="text">
                皆、銃が好きで楽しく撮影することができました！
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer> <p>Powerd by CG movie create circle -ARK-</p> </footer>
  </body>
</html>
