{%load static%}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>about us</title>
  <link rel="stylesheet" media="(min-width:670px)" href={% static 'css/circle_about_us.css' %}>
  <link rel="stylesheet" media="(max-width:670px)" href={% static 'css/circle_about_us_mobile.css' %}>
  <link rel="stylesheet" href={% static "js/drawer-master/dist/css/drawer.min.css" %}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={% static "js/iscroll-master/build/iscroll.js" %}></script>
  <script type="text/javascript" src={% static "js/drawer-master/dist/js/drawer.min.js" %}></script>
  <script type="text/javascript" src={% static 'js/circle_contact.js' %}></script>
  <link rel="shortcut icon" href="https://pbs.twimg.com/media/DbdohFNU0AA460z.jpg">
	<meta name="twitter:card" content="summary" />
	<meta property="og:url" content="https://ark-cg.com" />
	<meta property="og:title" content="ARK" />
	<meta property="og:description" content="CG映像制作サークル" />
	<meta property="og:image" content="http://drive.google.com/uc?export=view&id=1yDJ2S3AMaQsEoh_tHnuvsPqX3A4HIvBB" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118063049-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118063049-1');
  </script>


</head>
  <body class="drawer drawer--top">
    <header>
      <div class="img">
      <a href="{% url 'home:index' %}" class="big" ><img class="logo" src={% static 'posts/logo3-4-w.png' %} alt=""></a>
      <a href="{% url 'home:index' %}" class="small"><img class="logo" src={% static 'posts/logo3-4-w.png' %} alt=""></a>
      </div>

      <div id="navi" class="big">
        <div class="navi">
          <a href="{% url 'home:works' %}">Works</a>
          <a href="{% url 'home:about_us' %}" class="current" >About us</a>
          <a href="{% url 'home:contact' %}">Contact</a>
          <span></span>
        </div>
      </div>

      <div class="small" id="btn">
        <button type="button" class="drawer-toggle drawer-hamburger" >
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
      </div>

      <div id="menu">
        <div class="drawer-nav">
          <div class="drawer-menu">
            <a href="{% url 'home:works' %}">Works</a>
            <a href="{% url 'home:about_us' %}" class="current">About us</a>
            <a href="{% url 'home:contact' %}">Contact</a>
            <span></span>
          </div>
        </div>
      </div>


    </header>


      <div id="main" class="row row-offcanvas row-offcanvas-right">
        <h2>[Who we are?]</h2>
          <div id="content">
            <h3>-Overview-</h3>
              <div class="text">
                <p>私たちのサークル「ARK」はCG映像制作を主とした活動を行っています。
                去年より新設された東洋大学赤羽キャンパスでサークルを実施しており、
                メンバーのほとんどがCG制作ソフト未経験者で構成されている中で様々な作品を作成しております。</p>
              </div>
            <h3>-inform-</h3>
              <div class="text">
                <p>特になし。</p>
              </div>
            </div>
        </div>

        <footer> <p>Powerd by CG movie create circle -ARK-</p> </footer>
    </body>
  </html>
