@charset "UTF-8";
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);*/

@media print, screen and (min-width: 670px) {

body{
  background: linear-gradient(-135deg, #007991, #78ffd6);
  width: 100%;
  margin: 0;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium",
  YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

i{
  color: rgba(255,255,255,0.7);
  font-size: 8em;
}

.navi{
  margin: 30px 50px;
  float: right;
  display: inline-block;
  position: relative;
}

.navi span{
  background-color: #fff;
  height:3px;
  display:block;
  position:absolute;
  width:50px;
  left:0;
  bottom: -5px;

}

.navi a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0 18px;
}

.img {
  display: inline-block;
  margin-top:15px;
  margin-left: 30px;
}

.img img{
  width: 120px;
  border: 1px solid #fff;
}

.small{
  display: none;
}

#navi{
  float: right;
  display: inline-block;
}

.navi a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0 18px;
}

#main{
}

#main h2{
  text-align: center;
  color: #fff;
  font-size: 28px;
  letter-spacing: 10px;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

#content h3{
  display: inline-block;
  text-align: left;
  color: #fff;
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: normal;
  margin-left:;
}
#icon{
  text-align: center;
}

#icon a{
 font-weight: normal;
 display: inline-block;
 margin:0 50px;
}

#icon i:hover{
  color: #fff;
}

#content{
  margin: 0 auto;
  min-width: 650px;
  width: 65%;
}

#content p{
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
}

.google-map {
    position: relative;
    width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
    height: 0;
    padding-bottom: 56.25%;    /* padding-topでもOK */
    overflow: hidden;
}
.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    /* 必要であれば!importantを付けてください */
    height: 100%;    /* 必要であれば!importantを付けてください */
}


footer p{
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  font-weight: lighter;
  margin:30px 0;
}

}
